/* style.css */
body {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    background: #0c1443; /* Light red wine color for background */
    color: #ffffff; /* Dark red for text, reminiscent of red wine */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h1 {
    color: #5f74e9; /* Maroon color for headers */
    text-align: center;
    margin-bottom: 30px;
}

.content-container {
    width: 700px; /* Adjust width as necessary */
    padding: 20px;
    background-color: #ffffff; /* Soft pinkish-white, like the color of rosé */
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: black;
}

input[type="text"] {
    width: 100%; /* Full width within the container */
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    box-sizing: border-box;
}

#btn {
    width: 100%; /* Full width within the container */
    padding: 15px;
    border: none;
    text-align: center;
    margin-bottom: 20px;
    border-radius: 5px;
    background-color: #ff7f50; /* Deep red, similar to a bold red wine */
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #600000; /* Darker red for hover effect */
}

#prediction-container {
    margin-top: 50px;
    padding: 15px;
    background-color: #000000; /* Keeping a light color for contrast */
    color: #ffffff;
    border-radius: 5px;
    text-align: center;
}

#btnContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

strong {
    font-weight: 600;
}
